* {margin: 0 auto; padding: 0; box-sizing: border-box; list-style-type: none;}
  
.root{
      width: 100%;
      height: 100%;
      background: #333333;
  }

.header {
    position: fixed;
    top: 10px;
    width: 100%;
    height: 72px;
    z-index: 500;
    font-size: 14px;
    padding: 0 4%;
}

.logo{
    position: relative;
    float: left;
    height: 72px;
    margin-top: 13px;
}

.sign_up{ 
    float: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    background: #ffff;
    color: #333333;
    padding: 5px 18px 6px;
    border-radius: 40px;
    background-size: auto;
    cursor: pointer;
    margin-top: 23px;
}
main{
    margin: 0 auto;
    display: block;
    
}

.back {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    filter: brightness(20%);
}
.login {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: hidden;
    width: 624px;
    height: 894px;
    line-height: normal;
    
}

.login_2{
    position: relative;
    
    margin: 0px 0px 14px;
    
}
.title{
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    width: 100%;  
    padding-left: 160px;
}
.forgotPwd{
    color: white;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    padding-left: 90px;
    
}
.form {
    display: block;
    position: relative;
    width: 300px;
    color: white;
}
.email{
    position: relative;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 10px 10px 10px 14px;
   
}
.pwd{
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 10px 10px 10px 14px;
    
}

.login_btn {
    background-color: rgb(248, 47, 98);
    font-weight: 700;
    text-align: center;
    border-radius: 40px;
    line-height: 47px;
    width: 300px;
    height: 48px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
    opacity: .5;
}
.submit {
    color: white;
}

.oth_login {
    color: white;
    font-size: 12px;
    text-align: left;
    
}
.other {
    display: flex;
    opacity: 1;
    margin-top: 10px;
}
.other >li {
   display: flex;
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin-left: 14.4px;
}

footer{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 0 21px 0 21px;
}

.bottom{
    opacity: .3;
}
