* {margin: 0 auto; padding: 0; box-sizing: border-box; list-style-type: none;}
  
.root{
      width: 100%;
      height: 100%;
  }

.header {
    position: fixed;
    top: 10px;
    width: 100%;
    height: 72px;
    z-index: 500;
    font-size: 14px;
    padding: 0 4%;
}
.logo{
    position: relative;
    float: left;
    height: 72px;
    margin-top: 13px;
}

.login {
    float: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
    background: #ffff;
    padding: 5px 18px 6px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 23px;
}
main{
    margin: 0 auto;
    display: block;
    height: 100%;
    position: relative;
}

.back {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    filter: brightness(20%);
}
.sign_up{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: hidden;
    width: 300px;
    height: 916px;
    line-height: normal;
}
.sign_up_2{
    position: relative;
    margin: 0px 0px 14px;
}
.title{
    font-size: 18px;
    font-weight: 700;
    width: 100%;  
    color: white;
    margin: 0px 0px 14px;
    position: relative;
}
.form{
    width: 300px;
}
.name{
    position: relative;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 10px 10px 10px 14px;
}
.email{
    position: relative;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 10px 10px 10px 14px;
}
.pw{
    position: relative;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 10px 10px 10px 14px;
}
.birth{
    position: relative;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 10px 10px 10px 14px;
}
.gender{
    color: white;
    opacity: .8;
}
.gender.male {
    color: white;
    
}
.genre{
    color: white;
    opacity: .8;
}

.sign_up_check{
    color: white;
    opacity: .8;
    display: block;
    position: relative;
    font-size: 12px;
}
.sign_up_btn{
    background-color: rgb(248, 47, 98);
    font-weight: 700;
    text-align: center;
    border-radius: 40px;
    line-height: 47px;
    width: 300px;
    height: 48px;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
    opacity: .5;
}
.submit{
    color: white;
}
.text{
    color: white;
    font-size: 16px;
    padding: 0px;
    display: block;
    width: 300px;
    height: 46px;
    text-align: left;
}
footer{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    color: white;
    font-size: 10px;
    padding: 0 21px 0 21px;
}

.bottom{
    opacity: .3;
}
