*{
	box-sizing : border-box;
	
}
html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
}

.leftmenu{
	position:fixed;
    top:0;
    left:0;
    z-index:501;
    background:#141517;
    width:240px;
    height:100%;
    border-right:1px #1b1c1d solid;
 	}

ul, li{
	list-style:none;
	padding-left: 10px;
}
li{
	margin-top:20px;
	font-size:20px;
}
a{
	padding:8px;
	
}
a:link, a:visited{
	text-decoration-line:none;
	color:#fff
}   

a:hover{
	color:#d3d3d3
}

.footbar{
	align-items:center;
	width:100%;
    height:56px;
    padding:12px 40px;
    background:#141517;
	}


.logoimg{	
	vertical-align:top;
	width:88px;
	height:26px;            
	margin:24px 0 0 26px;
}

.leftsction{
    padding:0 16px;
    margin:30px 0 0;
}